.weight {
    font-weight: normal
}
.bold {
    font-weight: bold;
}

.right {
    position: absolute;
    top: 6px;
    right: 500px; 
    text-align: left;
    font-weight: normal;
}
.titleright1 {
    position: absolute;
    top: 6px;
    right: 10px; 
    text-align: right;
    font-weight: normal;
    margin-top: 248px;
}
.titleright2 {
    position: absolute;
    top: 6px;
    right: 10px; 
    text-align: right;
    font-weight: normal;
    margin-top: 442px;
}
.titleright3 {
    position: absolute;
    top: 6px;
    right: 10px; 
    text-align: right;
    font-weight: normal;
    margin-top: 702px;
}
.titleright4 {
    position: absolute;
    top: 6px;
    right: 10px; 
    text-align: right;
    font-weight: normal;
    margin-top: 894px;
}
.thick-line {
    border: none;       
    height: 5px;      
    background-color: black; 
    margin: 20px 0;     
}
.margin1 {
    margin-top: 80px;
}
.margin2 {
    margin-top: 60px;
}
.tableset1 {
    border-spacing: 200px 0;
}
.tableset2 {
    border-spacing: 250px 0;
}